<header class="site-header">
    <div class="header-container">
        <a href="{{ '/' | relative_url }}" class="logo">
            {{ site.title }}
        </a>
        
        <nav class="main-navigation">
            <div class="menu-toggle" onclick="Navigation.toggleMobileMenu()">
                <span></span>
                <span></span>
                <span></span>
            </div>
            
            <ul class="nav-menu" id="navMenu">
                <li class="nav-item">
                    <a href="{{ '/journal' | relative_url }}" 
                       class="nav-link {% if page.url contains '/journal' %}active{% endif %}">
                        Journal
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{{ '/blog' | relative_url }}" 
                       class="nav-link {% if page.url contains '/blog' %}active{% endif %}">
                        Blog
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{{ '/work' | relative_url }}" 
                       class="nav-link {% if page.url contains '/work' %}active{% endif %}">
                        Work
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</header>